.alert {
    padding: 20px;
    width: 300px;
    margin: auto;
    display: block;
}

#error {
    background-color: #f44336;
    color: white;
}

#success {
    background-color: #4CAF50;
    color: white;
}

#info {
    background-color: gray;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}