.loginForm {
    text-align: left;
    width: 30%;
    margin: auto;
    text-align: center;
}

.loginForm .FormFields {
    width: 80%;
    margin: auto;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
}

h3.error {
    color: red;
    font-weight: 400;
}

.label {
    margin-bottom: 0px;
}

.loginForm .submit {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

.loader{
    display: inline-block;
    vertical-align: middle;
}